.App {
  background-color: rgb(255, 42, 42);
  padding-top: 4rem;
  min-height: 100vh;
}

.navbar {
  background-color: rgb(255, 42, 42) !important;
}

body {
  background-color: transparent !important;
}
